#!/bin/false

.leu
.refsignored
.emacs*
.dumbjump
.ignore
*.dat
.idea
lisp/ido.last
Local.[0-9]Node.xml

# project specific
*.Designer.cs
*.FxCop
*.XML
*.[a-z]*html
*.asmmeta
*.bin
*.bond
*.cmd
*.config
*.csproj
*.css
*.csv
*.d.ts
*.dgml
*.dll*
*.idl
*.inl
*.js
*.json
*.map
*.mc
*.md
*.min.*
*.nuspec
*.o
*.package.props
*.ps1
*.psm1
*.rc
*.res*
*.sfproj
*.sln
*.sln.DotSettings
*.sql
*.str*
*.targets
*.tlh
*.tm4
*.tom
*.ts
*.tt*
*.txt
*.vbs
*.vcxproj
*.vs
*.wadcfgx
*.wsdl
*.xe
*.xml*
*.xsd
*.yaml
*.yml
*[tT]est*

# exact file names
# App.config
AssemblyMetadata.cs
AssemblyInfo.cs
OSSApprovals.xml
Reference.cs

# directories
/Backup*
/Debug
/Fakes*
/Release
/TestResults
/Tools
/bin
/fonts
/obj
/out/
/packages/
